button,
input[type="button"],
input[type="reset"],
input[type="submit"], .button {
	border: 2px solid $turquoise;
	border-radius: 0px;
	// box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: $turquoise;
	background: transparent;
	text-transform: uppercase;
	line-height: 1;
	padding: .6em 1em .5em;
	position: relative;
	transition: all 500ms linear;
	overflow: hidden;
	z-index: 1;
	display: inline-block;

	&:hover {
		transition: all 200ms linear;
		border-width: 2px;
		background: $turquoise;
		color: $white;
		border-color: $turquoise;

		// &:after {
		// 	transition: all 200ms linear;
		// 	transform: translate( -50%, -50% ) scale(15);
		// }
	}

	// &:active {
	// 	background: darken($turquoise, 10%);
	// 	border-color: darken($turquoise, 10%);

	// 	&:after {
	// 		transition: all 300ms linear;
	// 		transform: translate( -50%, -50% ) scale(0);
	// 	}
	// }

	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	z-index: -1;
	// 	top: 50%;
	// 	left: 50%;
	// 	width: 1em;
	// 	height: 1em;
	// 	border-radius: 50%;
	// 	background: $turquoise;
	// 	transform: translate( -50%, -50% ) scale(0);
	// 	transition: all 400ms linear;
	// }
	
	&:active,
	&:focus {
		background: darken($turquoise, 5%);
		color: $white;
		border-color: $turquoise;
	}
}

button {
	cursor: pointer;
}