input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="radio"],
textarea {
	color: $dark-grey;
	border: 1px solid $turquoise;
	border-radius: 0px;

	&:active {
		border: 1px solid $turquoise;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

label, .gfield_label {
	color: $blue;
	font-weight: 400 !important;
	cursor: pointer;
}

input[type="radio"] + label {
	color: $dark-grey;
	position: relative;
	top: 3px;
}

.gform_wrapper{
	.disable input{
		cursor: not-allowed;
		border: none;
	}

	ul li.gfield {
		margin-bottom: 1.5em;
	}
}


#epoch-wrap.comments-area {
	
}