@import "buttons";

@import "fields";



.gform_confirmation_wrapper {
	background: $turquoise;
	color: $white;
	text-transform: uppercase;
	padding: 1em;

	.gform_confirmation_message:before {
		content: '\f058';
		font-family: 'FontAwesome';
		font-size: 2em;
		margin-right: 1em;
		vertical-align: middle;
	}
}