/*
Theme Name: TIAK
Theme URI: http://underscores.me/
Author: 502 Media Group
Author URI: http://502mediagroup.com
Description: A theme for TIAK
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: tiak
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

TIAK is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #4c4c4c;
  font-family: 'Raleway';
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

iframe {
  border: none; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"], .button {
  border: 2px solid #63c7b2;
  border-radius: 0px;
  color: #63c7b2;
  background: transparent;
  text-transform: uppercase;
  line-height: 1;
  padding: .6em 1em .5em;
  position: relative;
  -webkit-transition: all 500ms linear;
          transition: all 500ms linear;
  overflow: hidden;
  z-index: 1;
  display: inline-block; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover, .button:hover {
    -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
    border-width: 2px;
    background: #63c7b2;
    color: #FFFFFF;
    border-color: #63c7b2; }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus, .button:active, .button:focus {
    background: #50c0a9;
    color: #FFFFFF;
    border-color: #63c7b2; }

button {
  cursor: pointer; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="radio"],
textarea {
  color: #4c4c4c;
  border: 1px solid #63c7b2;
  border-radius: 0px; }
  input[type="text"]:active,
  input[type="email"]:active,
  input[type="url"]:active,
  input[type="password"]:active,
  input[type="search"]:active,
  input[type="tel"]:active,
  input[type="radio"]:active,
  textarea:active {
    border: 1px solid #63c7b2; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

label, .gfield_label {
  color: #0072BA;
  font-weight: 400 !important;
  cursor: pointer; }

input[type="radio"] + label {
  color: #4c4c4c;
  position: relative;
  top: 3px; }

.gform_wrapper .disable input {
  cursor: not-allowed;
  border: none; }
.gform_wrapper ul li.gfield {
  margin-bottom: 1.5em; }

.gform_confirmation_wrapper {
  background: #63c7b2;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 1em; }
  .gform_confirmation_wrapper .gform_confirmation_message:before {
    content: '\f058';
    font-family: 'FontAwesome';
    font-size: 2em;
    margin-right: 1em;
    vertical-align: middle; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #0072BA;
  text-decoration: none;
  -webkit-transition: color 200ms ease, border 200ms linear;
          transition: color 200ms ease, border 200ms linear;
  border-bottom: 1px solid transparent; }
  a:hover, a:focus, a:active {
    color: #6ccff6;
    border-bottom: 1px solid #6ccff6; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

a[href$=".pdf"]:before {
  margin-right: 0.5em;
  content: ' \f1c1';
  font-family: 'FontAwesome'; }

a[href$=".doc"]:before, a[href$=".docx"]:before {
  margin-right: 0.5em;
  content: ' \f1c2';
  font-family: 'FontAwesome'; }

a[href$=".txt"]:before {
  margin-right: 0.5em;
  content: ' \f0f6';
  font-family: 'FontAwesome'; }

a[href$=".zip"]:before {
  margin-right: 0.5em;
  content: ' \f1c6';
  font-family: 'FontAwesome'; }

a[href^="mailto"]:before {
  margin-right: 0.5em;
  content: ' \f003';
  font-family: 'FontAwesome'; }

a[href^="tel"]:before {
  margin-right: 0.5em;
  content: ' \f095';
  font-family: 'FontAwesome';
  vertical-align: middle; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/* Search widget. */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em; }
  .site-header:after {
    content: " ";
    display: block;
    clear: both; }
  @media screen and (min-width: 60em) {
    .site-header {
      padding-left: 1em;
      padding-right: 1em; } }
  @media screen and (min-width: 70em) {
    .site-header {
      padding-left: 2em;
      padding-right: 2em; } }
  @media screen and (min-width: 1456px) {
    .site-header {
      padding-left: 0;
      padding-right: 0; } }

.site-branding {
  width: 23.7288135593%;
  float: left;
  margin-right: 1.6949152542%; }

.site-title {
  background-image: url("images/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: -7px;
  font-size: 1em;
  height: 9em;
  width: 12em;
  position: relative;
  margin: 0; }
  .site-title a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
    .site-title a:hover {
      border: none; }

.main-navigation {
  clear: none;
  width: 74.5762711864%;
  float: right;
  margin-right: 0;
  text-align: right;
  height: 9em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.menu-toggle {
  display: none;
  clear: both;
  margin: 0 auto;
  margin-top: 1em;
  cursor: pointer;
  max-width: 6rem; }

#primary-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  #primary-menu .menu-item.current-menu-item > a {
    color: #f8C53A; }
  #primary-menu > .menu-item {
    float: left;
    position: relative;
    padding: 0;
    text-align: left;
    border-bottom: 3px solid #6D6E70; }
    #primary-menu > .menu-item.current-menu-item, #primary-menu > .menu-item.current-menu-ancestor {
      border-color: #f8C53A; }
      #primary-menu > .menu-item.current-menu-item > a, #primary-menu > .menu-item.current-menu-ancestor > a {
        color: #f8C53A; }
    #primary-menu > .menu-item:hover {
      border-color: #f8C53A; }
    #primary-menu > .menu-item > a {
      padding: .5em 1em;
      display: block;
      border-bottom: none; }
    #primary-menu > .menu-item:hover .sub-menu {
      display: block;
      background: #FFFFFF;
      position: absolute;
      text-align: left;
      white-space: nowrap;
      border-top: 3px solid #f8C53A;
      border-bottom: 3px solid #6D6E70;
      padding: .5em 1em;
      z-index: 10; }
      #primary-menu > .menu-item:hover .sub-menu .menu-item + .menu-item {
        border-top: 1px solid #F2F4F8; }
      #primary-menu > .menu-item:hover .sub-menu a {
        display: block;
        border: none;
        padding: .25em 0; }
  #primary-menu .menu-item {
    text-transform: uppercase; }
    #primary-menu .menu-item > a {
      color: #6D6E70; }
    #primary-menu .menu-item:hover > a {
      color: #f8C53A; }
  #primary-menu .sub-menu {
    display: none; }

@media screen and (max-width: 65em) {
  .menu-toggle {
    display: block;
    margin-bottom: 1em; }

  .site-branding {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    float: none;
    margin: 0 auto;
    text-align: center; }
    .site-branding .site-title {
      background-position-x: 0;
      margin: 0 auto; }

  .main-navigation {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    display: none;
    padding-bottom: 1em; }
    .main-navigation.show {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .main-navigation #primary-menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .main-navigation #primary-menu > .menu-item {
        border: none; }
        .main-navigation #primary-menu > .menu-item a {
          display: block;
          border: none;
          padding: .5em 0; }
        .main-navigation #primary-menu > .menu-item + .menu-item {
          border: none !important; }
        .main-navigation #primary-menu > .menu-item .sub-menu {
          padding-left: 1em; }
        .main-navigation #primary-menu > .menu-item:hover .sub-menu {
          background: transparent;
          position: static;
          border: none;
          padding: 0 0 0 1em; }
          .main-navigation #primary-menu > .menu-item:hover .sub-menu .menu-item {
            border: none; }
            .main-navigation #primary-menu > .menu-item:hover .sub-menu .menu-item a {
              padding: .5em 0; }
      .main-navigation #primary-menu .menu-item, .main-navigation #primary-menu .sub-menu {
        display: block; } }
#page > .search {
  background: #0072BA;
  padding: .25em 0; }
  #page > .search .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-flow: row-reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse; }
  #page > .search.showing .container {
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row; }
  #page > .search.showing div[id*="gcse"] {
    display: inline-block; }
  #page > .search.showing .show-search {
    padding-top: 0; }
  #page > .search [id*="gcse"] {
    display: none;
    width: 90%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    #page > .search [id*="gcse"] .gsc-search-box {
      padding-left: 0; }
    #page > .search [id*="gcse"] .gsc-control-cse {
      background: #0072BA;
      border: none;
      padding-left: 0; }
    #page > .search [id*="gcse"] .gsc-clear-button {
      display: none; }
  #page > .search .show-search {
    display: inline-block;
    padding: .5em 0;
    border: none;
    color: #FFFFFF; }
    #page > .search .show-search:after {
      content: 'Search';
      width: 0;
      display: inline-block;
      -webkit-transition: width 100ms linear;
              transition: width 100ms linear; }
    #page > .search .show-search:hover, #page > .search .show-search:active, #page > .search .show-search:focus {
      background: transparent;
      color: #f8C53A;
      outline: none; }
      #page > .search .show-search:hover:after, #page > .search .show-search:active:after, #page > .search .show-search:focus:after {
        display: inline-block;
        padding-left: .5em;
        width: 6em; }
  #page > .search .gsc-selected-option-container {
    width: auto !important; }
  #page > .search .cse .gsc-webResult.gsc-result:hover,
  #page > .search .gsc-webResult.gsc-result:hover,
  #page > .search .gsc-webResult.gsc-result.gsc-promotion:hover,
  #page > .search .gsc-results .gsc-imageResult-classic:hover,
  #page > .search .gsc-results .gsc-imageResult-column:hover {
    border-left: 2px solid #0072BA; }
  #page > .search .cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page,
  #page > .search .gsc-results .gsc-cursor-page.gsc-cursor-current-page {
    background: #0072BA; }
  #page > .search .cse input.gsc-search-button, #page > .search input.gsc-search-button {
    border-width: 2px; }
  #page > .search .gsc-wrapper a:before {
    content: ''; }
  #page > .search .gsc-wrapper .gsc-table-cell-thumbnail, #page > .search .gsc-wrapper .gs-promotion-image-cell {
    padding: 0 1em; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

@media screen and (min-width: 60em) {
  .half {
    width: 49.1525423729%;
    float: left;
    margin-right: 1.6949152542%; }
    .half:nth-child(even) {
      width: 49.1525423729%;
      float: right;
      margin-right: 0; } }

@media screen and (min-width: 60em) {
  * .third {
    width: 32.2033898305%;
    float: left;
    margin-right: 1.6949152542%; }
    * .third:nth-of-type(3n + 3) {
      width: 32.2033898305%;
      float: right;
      margin-right: 0; }
    * .third:nth-of-type(3n + 4) {
      clear: left; } }

@media screen and (min-width: 60em) {
  .quarter {
    width: 23.7288135593%;
    float: left;
    margin-right: 1.6949152542%; }
    .quarter:last-child {
      width: 23.7288135593%;
      float: right;
      margin-right: 0; } }

.blue-title {
  color: #0072BA;
  font-weight: normal; }

.centered, .center {
  text-align: center; }

.bold {
  font-weight: bold; }

.light-grey {
  background: #F2F4F8; }

.light-turquoise {
  background: #e6f6f3; }

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.give-padding {
  padding-left: 0.5em;
  padding-right: 0.5em; }
  @media screen and (min-width: 60em) {
    .give-padding {
      padding-left: 1em;
      padding-right: 1em; } }
  @media screen and (min-width: 70em) {
    .give-padding {
      padding-left: 2em;
      padding-right: 2em; } }
  @media screen and (min-width: 1456px) {
    .give-padding {
      padding-left: 0;
      padding-right: 0; } }

.home.page .home-hero-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  max-height: 300px; }
.home.page .hentry {
  margin-bottom: 0; }
.home.page .entry-header .third {
  text-align: center;
  width: 100%;
  float: none;
  margin: 0; }
  @media screen and (min-width: 65em) {
    .home.page .entry-header .third {
      width: 32.2033898305%;
      float: left;
      margin-right: 1.6949152542%; }
      .home.page .entry-header .third:last-child {
        width: 32.2033898305%;
        float: right;
        margin-right: 0; }
      .home.page .entry-header .third:last-child {
        width: 32.2033898305%;
        float: right;
        margin-right: 0; } }
.home.page .entry-header a {
  font-size: 1.5em;
  color: #FFFFFF;
  font-weight: 300;
  display: block;
  margin: 1em;
  border: 1px solid #FFFFFF; }
  .home.page .entry-header a:hover {
    background: #FFFFFF;
    color: #0072BA; }
  @media screen and (min-width: 65em) {
    .home.page .entry-header a {
      font-size: 2em;
      border: none;
      margin: 0;
      padding: 0.5em 0; }
      .home.page .entry-header a:hover {
        background: transparent;
        color: #f8C53A; } }
.home.page .upcoming-events .upcoming-event {
  margin-bottom: 1em; }
  .home.page .upcoming-events .upcoming-event a {
    display: block;
    padding: 1em 1em;
    min-height: 13em; }
    .home.page .upcoming-events .upcoming-event a:hover {
      border-color: transparent; }
  .home.page .upcoming-events .upcoming-event .fa {
    margin-right: .5em; }
  .home.page .upcoming-events .upcoming-event .button {
    margin-top: 1em; }
.home.page .bottom-cta {
  padding-top: 4em; }
  .home.page .bottom-cta .third {
    margin-bottom: 4em; }
  .home.page .bottom-cta .fa {
    font-size: 4em; }
  .home.page .bottom-cta .cta-title {
    font-size: 1.5em;
    margin: 0; }
  .home.page .bottom-cta .button {
    display: inline-block; }

.recent-posts {
  margin-top: 4em;
  margin-bottom: 4em; }
  .recent-posts .recent-post {
    border: 2px solid #F2F4F8;
    margin-bottom: 2em; }
  .recent-posts .padding {
    padding: 1em .5em 0; }
  .recent-posts .post-title {
    font-size: 3em;
    margin: 0 0 .5em;
    color: #0072BA;
    font-weight: 300;
    line-height: 1.1; }
  .recent-posts .featured-image {
    height: 6em;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; }
    .recent-posts .featured-image time {
      color: #FFFFFF;
      position: absolute;
      width: 3em;
      height: 3.5em;
      padding-top: .4em;
      font-weight: normal;
      background: #f8C53A;
      text-align: center;
      text-transform: uppercase;
      bottom: -1em;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      box-shadow: 0 0 10px -3px #4c4c4c;
      line-height: 1; }
      .recent-posts .featured-image time span {
        font-size: 2em; }

.entry-header {
  background: #0072BA;
  overflow: hidden; }
  .entry-header .entry-title {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #FFFFFF;
    font-weight: 400;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: 0;
    margin-bottom: 0; }
    .entry-header .entry-title:after {
      content: " ";
      display: block;
      clear: both; }
    @media screen and (min-width: 60em) {
      .entry-header .entry-title {
        padding-left: 1em;
        padding-right: 1em; } }
    @media screen and (min-width: 70em) {
      .entry-header .entry-title {
        padding-left: 2em;
        padding-right: 2em; } }
    @media screen and (min-width: 1456px) {
      .entry-header .entry-title {
        padding-left: 0;
        padding-right: 0; } }
    .entry-header .entry-title a {
      color: #FFFFFF; }
  .entry-header .entry-meta {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5em;
    padding-right: 0.5em; }
    .entry-header .entry-meta:after {
      content: " ";
      display: block;
      clear: both; }
    @media screen and (min-width: 60em) {
      .entry-header .entry-meta {
        padding-left: 1em;
        padding-right: 1em; } }
    @media screen and (min-width: 70em) {
      .entry-header .entry-meta {
        padding-left: 2em;
        padding-right: 2em; } }
    @media screen and (min-width: 1456px) {
      .entry-header .entry-meta {
        padding-left: 0;
        padding-right: 0; } }
    .single .entry-header .entry-meta {
      color: #FFFFFF;
      margin-bottom: 1em; }
      .single .entry-header .entry-meta a {
        color: #FFFFFF; }

.content-area h2, .wp-editor h2 {
  color: #0072BA;
  font-weight: 400; }
.content-area ul, .wp-editor ul {
  list-style: none; }
  .content-area ul li, .wp-editor ul li {
    display: block; }
    .content-area ul li:before, .wp-editor ul li:before {
      content: '\f138';
      font-family: 'FontAwesome';
      color: #63c7b2;
      margin-right: .5em; }
.content-area .video-container, .wp-editor .video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .content-area .video-container iframe, .content-area .video-container object, .content-area .video-container embed, .content-area .video-container video, .wp-editor .video-container iframe, .wp-editor .video-container object, .wp-editor .video-container embed, .wp-editor .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ul li,
body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ul li {
  display: block; }
  body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ul li:before,
  body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ul li:before {
    content: '\f138';
    font-family: 'FontAwesome';
    color: #63c7b2;
    margin-right: .5em; }

.entry-content, .wp-editor {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em; }
  .entry-content:after, .wp-editor:after {
    content: " ";
    display: block;
    clear: both; }
  @media screen and (min-width: 60em) {
    .entry-content, .wp-editor {
      padding-left: 1em;
      padding-right: 1em; } }
  @media screen and (min-width: 70em) {
    .entry-content, .wp-editor {
      padding-left: 2em;
      padding-right: 2em; } }
  @media screen and (min-width: 1456px) {
    .entry-content, .wp-editor {
      padding-left: 0;
      padding-right: 0; } }

body.wp-editor {
  padding-left: .5em !important;
  padding-right: .5em !important; }

.entry-footer {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em; }
  .entry-footer:after {
    content: " ";
    display: block;
    clear: both; }
  @media screen and (min-width: 60em) {
    .entry-footer {
      padding-left: 1em;
      padding-right: 1em; } }
  @media screen and (min-width: 70em) {
    .entry-footer {
      padding-left: 2em;
      padding-right: 2em; } }
  @media screen and (min-width: 1456px) {
    .entry-footer {
      padding-left: 0;
      padding-right: 0; } }
  .entry-footer > span {
    margin-right: 1em; }

.post-navigation {
  text-align: center; }

.comments-area {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em; }
  .comments-area:after {
    content: " ";
    display: block;
    clear: both; }
  @media screen and (min-width: 60em) {
    .comments-area {
      padding-left: 1em;
      padding-right: 1em; } }
  @media screen and (min-width: 70em) {
    .comments-area {
      padding-left: 2em;
      padding-right: 2em; } }
  @media screen and (min-width: 1456px) {
    .comments-area {
      padding-left: 0;
      padding-right: 0; } }

.related-pages {
  text-align: center;
  margin: 2em .5em; }
  .related-pages:empty {
    display: none; }
  .related-pages .button {
    padding: .5em 1em;
    border: 1px solid #0072BA;
    margin: .5em 1em;
    -webkit-transition: all 200ms ease;
            transition: all 200ms ease;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0072BA; }
    .related-pages .button:hover, .related-pages .button.current, .related-pages .button:active, .related-pages .button:focus {
      background: #0072BA;
      color: #FFFFFF; }

.nav-links {
  text-align: center;
  padding: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .nav-links .nav-previous, .nav-links .nav-next {
    display: inline-block;
    margin: 0 1em;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0; }
    .nav-links .nav-previous a, .nav-links .nav-next a {
      padding-bottom: .25em; }
  .nav-links .nav-next:before {
    content: '\f104';
    font-family: "FontAwesome";
    margin-right: .5em;
    color: #0072BA; }
  .nav-links .nav-previous {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
    .nav-links .nav-previous:after {
      content: '\f105';
      font-family: "FontAwesome";
      margin-left: .5em;
      color: #0072BA; }

.page-template-template-contact h3 {
  color: #0072BA; }
.page-template-template-contact .pw_map_canvas {
  height: 300px !important; }

.page-template-template-jobs-internships .posting {
  background: #F2F4F8;
  padding: 0 1em;
  margin-bottom: 1.5em; }
.page-template-template-jobs-internships .half h2 {
  text-align: center;
  text-transform: uppercase; }

.single .entry-content {
  margin-top: 1.5em; }

.page .related-pages:empty ~ .entry-content {
  margin-top: 1.5em; }

.blog #main, .post-type-archive-tiak_newsletters #main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  .blog #main:after, .post-type-archive-tiak_newsletters #main:after {
    content: " ";
    display: block;
    clear: both; }
.blog .hentry, .post-type-archive-tiak_newsletters .hentry {
  max-width: 60em;
  width: 90%;
  margin: 2em auto;
  border: 1px solid #6D6E70;
  padding: 0 1em 1em; }
  .blog .hentry .entry-header, .post-type-archive-tiak_newsletters .hentry .entry-header {
    background: none; }
  .blog .hentry .entry-title a, .post-type-archive-tiak_newsletters .hentry .entry-title a {
    color: #0072BA; }
    .blog .hentry .entry-title a:hover, .post-type-archive-tiak_newsletters .hentry .entry-title a:hover {
      color: #6ccff6; }
  .blog .hentry .entry-content, .post-type-archive-tiak_newsletters .hentry .entry-content {
    margin: 0; }

.post-type-archive-tiak_newsletters .entry-title {
  color: #0072BA;
  text-align: center; }

.testimonials {
  text-align: center;
  margin-bottom: 4em;
  margin-top: 4em; }
  .testimonials .testimonial {
    max-width: 30em;
    margin: 0 auto;
    position: relative; }
    .testimonials .testimonial + .testimonial {
      margin-top: 5em; }
    .testimonials .testimonial:before {
      position: absolute;
      top: 0;
      left: -1em;
      content: '\f10d';
      font-family: 'FontAwesome';
      color: rgba(99, 199, 178, 0.5);
      font-size: 3em;
      line-height: 1;
      z-index: -10; }
    .testimonials .testimonial:after {
      position: absolute;
      bottom: 1em;
      right: -1em;
      content: '\f10e';
      font-family: 'FontAwesome';
      color: rgba(99, 199, 178, 0.5);
      font-size: 3em;
      line-height: 1;
      z-index: -10; }
      @media screen and (max-width: 600px) {
        .testimonials .testimonial:after {
          display: none; } }
  .testimonials .testimonials-title {
    color: #0072BA;
    font-weight: 400;
    max-width: 32em;
    margin: 0 auto;
    border-bottom: 1px solid #F2F4F8;
    text-align: center;
    padding-bottom: 1em;
    margin-bottom: 1em; }
  .testimonials .button {
    display: inline-block;
    margin-top: 1em; }
  .testimonials .testimonial-meta {
    color: #0072BA; }

.current-newsletter {
  background: #F2F4F8;
  max-width: 60em;
  margin: 2em auto 0;
  padding: 4em;
  text-align: center; }
  @media screen and (min-width: 60em) {
    .current-newsletter {
      margin: 2em auto; } }
  .current-newsletter .title {
    font-size: 3em;
    margin: 0 auto;
    color: #0072BA;
    font-weight: normal; }
  .current-newsletter .button {
    display: inline-block; }

.posted-on:before {
  margin-right: .5em;
  content: '\f017';
  font-family: 'FontAwesome'; }

.post-password-form input[type="submit"] {
  display: block;
  margin: 1em; }

.executives .third {
  margin-bottom: 2em;
  text-align: center; }
  .executives .third p {
    margin: 0 0 1em; }
.executives .title {
  font-weight: normal;
  color: #0072BA;
  margin: 0; }

.meeting-schedule .title {
  font-size: 1.5em;
  font-weight: normal;
  color: #0072BA; }
.meeting-schedule .button {
  font-size: 1.25em;
  display: inline-block; }

.all-directors {
  margin-bottom: 4em; }
  .all-directors .button {
    font-size: 1.25em;
    display: inline-block; }

.page-template-template-committees .blue-title {
  font-size: 2em;
  margin: 0;
  margin-bottom: 1em; }
  .page-template-template-committees .blue-title.members-title {
    font-size: 1.25em; }
  .page-template-template-committees .blue-title .border {
    display: inline-block;
    border-bottom: 2px solid #F2F4F8; }

.committees .committee {
  margin-bottom: 4em; }
.committees .committee-title {
  font-size: 1.5em;
  margin: 0; }
.committees .email {
  display: inline-block;
  margin-left: 1em; }

.accordion > h3 {
  background: #63c7b2;
  color: #FFFFFF;
  padding: .25em .5em;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  outline: none;
  margin-bottom: 1em;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 100ms linear;
          transition: all 100ms linear; }
  .accordion > h3:after {
    content: '\f0d7';
    font-family: 'FontAwesome';
    position: absolute;
    right: .5em;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 100ms linear;
            transition: all 100ms linear; }
  .accordion > h3[aria-expanded="true"] {
    margin-bottom: 0;
    background: #f8C53A;
    color: #4c4c4c; }
    .accordion > h3[aria-expanded="true"]:after {
      -webkit-transform: translateY(-50%) rotate(180deg);
          -ms-transform: translateY(-50%) rotate(180deg);
              transform: translateY(-50%) rotate(180deg); }
.accordion > div {
  border: 2px solid #f8C53A;
  margin-bottom: 1em;
  padding: 0 .5em; }

.important-links h2 {
  font-weight: 400;
  color: #0072BA; }
.important-links .title, .important-links .link {
  width: 49%;
  display: block;
  float: left;
  margin-bottom: 1em; }
  @media screen and (min-width: 40em) {
    .important-links .title, .important-links .link {
      margin-bottom: 0; } }
.important-links .title {
  text-align: right;
  margin-right: 1%;
  clear: left; }
.important-links .link {
  text-align: left;
  margin-left: 1%;
  clear: right; }
  .important-links .link a {
    word-break: break-word; }

.resource-links {
  font-size: 0;
  text-align: center; }
  .resource-links .resource-link {
    display: block;
    font-size: initial;
    padding: 1em;
    margin-bottom: 2em; }
    @media screen and (min-width: 60em) {
      .resource-links .resource-link {
        width: 33%;
        margin-bottom: 0;
        display: inline-block; } }
    .resource-links .resource-link .fa {
      font-size: 3em; }
    .resource-links .resource-link .button {
      display: inline-block; }

.kds .half > h3 {
  font-size: 1.5em;
  color: #0072BA;
  font-weight: 400; }
.kds .email {
  font-size: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
  .kds .email a {
    word-break: break-word; }
  .kds .email a:before {
    display: none; }

.white-papers-reports {
  margin-bottom: -1.5em; }
  .white-papers-reports .white-papers, .white-papers-reports .reports, .white-papers-reports .tgt-documents {
    margin-bottom: 1.5em; }
    .white-papers-reports .white-papers h2, .white-papers-reports .reports h2, .white-papers-reports .tgt-documents h2 {
      font-size: 2em; }
  .white-papers-reports .white-paper, .white-papers-reports .report {
    min-width: 22em;
    width: 50%;
    margin: 0 auto;
    text-align: center; }
  .white-papers-reports .reports {
    padding-bottom: 1.5em; }

.bill-trackers .bill-tracker a {
  display: block;
  padding: .5em 1em;
  margin: 1em auto;
  max-width: 12em;
  text-align: center;
  border: 2px solid #F2F4F8;
  font-size: 1.25em; }
  .bill-trackers .bill-tracker a:hover {
    border: 2px solid; }

#search-members {
  width: 95%;
  max-width: 60em;
  font-size: 1.25em; }

.members .members-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .members .members-list.filtering .member {
    float: none;
    width: 100%;
    margin: 0 auto 2em;
    max-width: 40em;
    background: #F2F4F8;
    padding: 1em; }
.members .member {
  margin-bottom: 2em; }
  .members .member .member-organization, .members .member .member-name, .members .member .member-contact {
    margin: 0; }
  .members .member .member-address {
    margin: .5em 0; }
  .members .member:before {
    content: none; }

.type-tiak_events {
  margin-bottom: 0; }

.event {
  max-width: 60em;
  background: #F2F4F8;
  margin: 0 auto;
  padding: 1em; }
  @media screen and (min-width: 60em) {
    .event {
      margin: 2em auto; } }
  .event .time {
    background: #e1e6ef;
    padding: 1em;
    margin: 0; }
  .event .cost {
    background: #e1e6ef; }
    .event .cost h4 {
      font-size: 1.25em;
      margin: 0.75em 0 0; }
  .event .button {
    display: inline-block; }
  .event .registration-link {
    margin-top: 2em; }

.page-template-template-events .hentry, .page-template-template-webinars .hentry, .page-template-template-seminars .hentry {
  margin-bottom: 0; }
.page-template-template-events .events .ks-tourism-conference, .page-template-template-webinars .events .ks-tourism-conference, .page-template-template-seminars .events .ks-tourism-conference {
  padding: 1em 0 3em; }
  .page-template-template-events .events .ks-tourism-conference h2, .page-template-template-webinars .events .ks-tourism-conference h2, .page-template-template-seminars .events .ks-tourism-conference h2 {
    text-transform: uppercase;
    margin: 1em 0 .5em;
    font-size: 2.5em; }
  .page-template-template-events .events .ks-tourism-conference .description, .page-template-template-webinars .events .ks-tourism-conference .description, .page-template-template-seminars .events .ks-tourism-conference .description {
    max-width: 40em;
    margin: 1em auto 2em; }
  .page-template-template-events .events .ks-tourism-conference .button, .page-template-template-webinars .events .ks-tourism-conference .button, .page-template-template-seminars .events .ks-tourism-conference .button {
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em; }
.page-template-template-events .events .upcoming-events, .page-template-template-webinars .events .upcoming-events, .page-template-template-seminars .events .upcoming-events {
  padding: 1em 0 2em; }
  .page-template-template-events .events .upcoming-events h2, .page-template-template-webinars .events .upcoming-events h2, .page-template-template-seminars .events .upcoming-events h2 {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 2em; }
  .page-template-template-events .events .upcoming-events .upcoming-event, .page-template-template-webinars .events .upcoming-events .upcoming-event, .page-template-template-seminars .events .upcoming-events .upcoming-event {
    margin-bottom: 2em; }
    .page-template-template-events .events .upcoming-events .upcoming-event .inner, .page-template-template-webinars .events .upcoming-events .upcoming-event .inner, .page-template-template-seminars .events .upcoming-events .upcoming-event .inner {
      display: block;
      padding: 2em 1em 1.5em;
      max-width: 30em;
      margin: 0 auto;
      border: 2px solid #4c4c4c;
      color: #4c4c4c;
      -webkit-transition: all 100ms ease;
              transition: all 100ms ease; }
      .page-template-template-events .events .upcoming-events .upcoming-event .inner:hover, .page-template-template-webinars .events .upcoming-events .upcoming-event .inner:hover, .page-template-template-seminars .events .upcoming-events .upcoming-event .inner:hover {
        background: #0072BA;
        color: #FFFFFF; }
        .page-template-template-events .events .upcoming-events .upcoming-event .inner:hover .button, .page-template-template-webinars .events .upcoming-events .upcoming-event .inner:hover .button, .page-template-template-seminars .events .upcoming-events .upcoming-event .inner:hover .button {
          background-color: #FFFFFF; }
      .page-template-template-events .events .upcoming-events .upcoming-event .inner .button, .page-template-template-webinars .events .upcoming-events .upcoming-event .inner .button, .page-template-template-seminars .events .upcoming-events .upcoming-event .inner .button {
        -webkit-transition: all 100ms ease;
                transition: all 100ms ease;
        color: #4c4c4c;
        border-color: #4c4c4c;
        display: inline-block;
        margin: 1em 0 0; }
    .page-template-template-events .events .upcoming-events .upcoming-event h4, .page-template-template-webinars .events .upcoming-events .upcoming-event h4, .page-template-template-seminars .events .upcoming-events .upcoming-event h4 {
      margin: 0 0 .5em; }
    .page-template-template-events .events .upcoming-events .upcoming-event .fa, .page-template-template-webinars .events .upcoming-events .upcoming-event .fa, .page-template-template-seminars .events .upcoming-events .upcoming-event .fa {
      margin-right: 1em; }
.page-template-template-events .events .day-on-hill h2, .page-template-template-webinars .events .day-on-hill h2, .page-template-template-seminars .events .day-on-hill h2 {
  font-size: 2em;
  text-transform: uppercase;
  margin: 2em auto 0; }
.page-template-template-events .events .day-on-hill .description, .page-template-template-webinars .events .day-on-hill .description, .page-template-template-seminars .events .day-on-hill .description {
  max-width: 40em;
  margin: 1em auto 2em; }
.page-template-template-events .events .day-on-hill .button, .page-template-template-webinars .events .day-on-hill .button, .page-template-template-seminars .events .day-on-hill .button {
  display: inline-block;
  margin-left: 2em;
  margin-right: 2em; }

.page-template-template-day-on-the-hill .hentry {
  margin-bottom: 0; }

.day-on-the-hill .date {
  font-size: 2em;
  padding: 1em;
  margin-bottom: 1em; }
  .day-on-the-hill .date .day {
    font-size: 1.5em; }
.day-on-the-hill .agenda {
  padding: 1em 2em;
  margin-bottom: 2em; }
  .day-on-the-hill .agenda ul {
    margin: 0;
    padding: 0; }
    .day-on-the-hill .agenda ul li {
      border-bottom: 1px solid #e1e6ef;
      padding: .5em 0; }
      .day-on-the-hill .agenda ul li:before {
        content: none; }
.day-on-the-hill .hotel {
  padding: 1em 2em; }
.day-on-the-hill .maps {
  padding: 2em 0 4em; }
  .day-on-the-hill .maps .button {
    display: inline-block; }
.day-on-the-hill .video {
  margin: 4em auto; }
.day-on-the-hill .sponsorship-levels {
  padding: 2em 0 4em; }
  .day-on-the-hill .sponsorship-levels ul li {
    margin-bottom: 1em; }
  @media screen and (min-width: 60em) {
    .day-on-the-hill .sponsorship-levels > .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .day-on-the-hill .sponsorship-levels .sponsorship-description {
    margin-bottom: 4em; }
    .day-on-the-hill .sponsorship-levels .sponsorship-description ul {
      margin: 0;
      padding: 0; }
.day-on-the-hill .call-to-action {
  position: relative;
  margin-top: 6em; }
  @media screen and (min-width: 60em) {
    .day-on-the-hill .call-to-action {
      margin-top: 0; } }
  .day-on-the-hill .call-to-action .button {
    display: inline-block;
    font-size: 1.5em; }

.page-template-template-conference .hentry {
  margin-bottom: 0; }

.ks-tourism-conference .panel {
  padding: 1em;
  margin-bottom: 2em; }
  .ks-tourism-conference .panel .button {
    display: inline-block; }
.ks-tourism-conference .hotel {
  padding: 1em;
  margin-bottom: 2em; }
  .ks-tourism-conference .hotel p {
    margin: 0 auto 1.5em; }
  .ks-tourism-conference .hotel .pw_map_canvas {
    margin-bottom: 3em; }
.ks-tourism-conference .register {
  padding: 2em 0; }
  .ks-tourism-conference .register p {
    margin: 0; }
  .ks-tourism-conference .register .button {
    display: inline-block;
    vertical-align: middle;
    font-size: 2em; }
.ks-tourism-conference .dates {
  padding: 1em;
  margin-bottom: 2em; }
.ks-tourism-conference .agenda {
  padding: 1em;
  margin-bottom: 2em; }
  .ks-tourism-conference .agenda .heading {
    font-size: 1.25em; }
  .ks-tourism-conference .agenda ul {
    margin: 0 0 3em;
    padding: 0; }
    .ks-tourism-conference .agenda ul li {
      border-bottom: 1px solid #e1e6ef;
      padding: .5em 0; }
      .ks-tourism-conference .agenda ul li:before {
        content: none; }
.ks-tourism-conference .silent-auction {
  padding: 1em;
  margin-bottom: 2em; }

.single-tiak_newsletters .newsletter {
  padding: 4em 2em; }
.single-tiak_newsletters .hentry {
  margin-bottom: 0; }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.global-cta {
  background: #f8C53A;
  text-align: center;
  font-size: 2em; }
  .global-cta a {
    display: block;
    padding: .5em;
    color: #FFFFFF;
    border: none !important; }
    .global-cta a:hover {
      color: #0072BA; }

.contact-info {
  overflow: hidden;
  text-align: center;
  background: #6D6E70;
  color: #BBBDBF;
  padding: 1em 0.5em; }
  .contact-info p {
    margin: 0; }
    .contact-info p + p {
      margin-top: 1em; }
  .contact-info .contact-phone a {
    color: inherit;
    border: none !important; }
    .contact-info .contact-phone a:hover {
      color: #FFFFFF; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

#gform_previous_button_24 { display: none !important; }

.gform_wrapper .gform_page_footer .button.gform_previous_button { display: none !important; }