.global-cta {
	background: $gold;
	text-align: center;
	font-size: 2em;

	a {
		display: block;
		padding: .5em;
		color: $white;
		border: none !important;

		&:hover {
			color: $blue;
		}
	}
}

.contact-info {
	overflow: hidden;
	text-align: center;
	background: $grey;
	color: #BBBDBF; 
	padding: 1em 0.5em;

	p {
		margin: 0;

		+ p {
			margin-top: 1em;
		}
	}

	.contact-phone a {
		color: inherit;
		border: none !important;

		&:hover {
			color: $white;
		}
	}
}