#page {
	// border-top: 1em solid $blue;
}

.site-header {
	@include container();
	@include give-padding;
	padding-top: 1em;
}

.site-branding {
	@include span(3);
}

.site-title {
	background-image: url('images/logo.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: -7px;
	font-size: 1em;
	height: 9em;
	width: 12em;
	position: relative;
	margin: 0;

	a {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		
		&:hover {
			border: none;
		}
	}
}

.main-navigation {
	clear: none;
	@include span(last 9);
	text-align: right;
	height: 9em;
	display: flex;
	align-items: stretch;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.menu-toggle {
	display: none;
	clear: both;
	margin: 0 auto;
	margin-top: 1em;
	cursor: pointer;
	max-width: 6rem;
}

#primary-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: flex-end;

	.menu-item.current-menu-item > a {
		color: $gold;
	}

	> .menu-item {
		float: left;
		position: relative;
		padding: 0;
		text-align: left;
		border-bottom: 3px solid $grey;

		&.current-menu-item, &.current-menu-ancestor {
			border-color: $gold;

			> a {
				color: $gold;
			}
		}

		&:hover {
			border-color: $gold;
		}

		> a {
			padding: .5em 1em;
			display: block;
			border-bottom: none;
		}

		&:hover {

			.sub-menu {
				display: block;
				background: $white;
				position: absolute;
				text-align: left;
				white-space: nowrap;
				// border: 3px solid $grey;
				border-top: 3px solid $gold;
				// border-right: 2px solid $grey;
				border-bottom: 3px solid $grey;
				// box-shadow: 2px 2px 4px $grey;
				padding: .5em 1em;
				z-index: 10;

				.menu-item + .menu-item {
					border-top: 1px solid $light-grey;
				}

				a {
					display: block;
					border: none;
					padding: .25em 0;
				}
			}
		}
	}

	.menu-item {
		text-transform: uppercase;

		> a {
			color: $grey;
		}

		&:hover > a {
			color: $gold;
		}
	}

	.sub-menu {
		display: none;
	}
}

@media screen and ( max-width: 65em ){

	.menu-toggle {
		display: block;
		margin-bottom: 1em;
	}

	.site-branding {
		@include span(12);
		float: none;
		margin: 0 auto;
		text-align: center;

		.site-title {
			background-position-x: 0;
			margin: 0 auto;
		}
	}
	
	.main-navigation  {
		@include span(12);
		height: auto;
		display: none;
		// border-bottom: 3px solid $blue;
		padding-bottom: 1em;

		&.show {
			display: flex;
		}

		#primary-menu {
			flex-direction: column;
			align-items: flex-start;

			> .menu-item {
				border: none;

				a {
					// color: $white;
					display: block;
					border: none;
					padding: .5em 0;
				}

				+ .menu-item {
					border: none !important;
				}

				.sub-menu {
					padding-left: 1em;
				}

				&:hover {

					.sub-menu {
						background: transparent;
						position: static;
						border: none;
						padding: 0 0 0 1em;

						.menu-item {
							border: none;

							a {
								padding: .5em 0;
							}
						}
					}
				}
			}

			.menu-item, .sub-menu {
				display: block;
			}
		}	
	}
	
}

#page > .search {
	background: $blue;
	padding: .25em 0;

	.container {
		display: flex;
		align-items: center;
		flex-flow: row-reverse;
	}

	&.showing {
		.container {
			flex-flow: row;
		}

		div[id*="gcse"] {
		 	display: inline-block;
		}
		.show-search {
			padding-top: 0;
		}
	}

	 [id*="gcse"] {
		display: none;
		width: 90%;
		flex: 1;

		.gsc-search-box {
			padding-left: 0;
		}

		.gsc-control-cse {
			background: $blue;
			border: none;
			padding-left: 0;
		}

		.gsc-clear-button {
			display: none;
		}
	}

	.show-search {
		display: inline-block;
		padding: .5em 0;
		border: none;
		color: $white;

		&:after {
			content: 'Search';
			width: 0;
			display: inline-block;
			transition: width 100ms linear;
		}

		&:hover, &:active, &:focus {
			background: transparent;
			color: $gold;
			outline: none;

			&:after {
				display: inline-block;
				padding-left: .5em;
				width: 6em;
			}
		}
	}

	.gsc-selected-option-container {
		width: auto !important;
	}

	.cse .gsc-webResult.gsc-result:hover, 
	.gsc-webResult.gsc-result:hover, 
	.gsc-webResult.gsc-result.gsc-promotion:hover, 
	.gsc-results .gsc-imageResult-classic:hover, 
	.gsc-results .gsc-imageResult-column:hover {
		border-left: 2px solid $blue;
	}

	.cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page, 
	.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
		background: $blue;
	}

	.cse input.gsc-search-button, input.gsc-search-button {
		border-width: 2px; 
	}

	.gsc-wrapper {
		a:before {
			content: '';
		}

		.gsc-table-cell-thumbnail, .gs-promotion-image-cell {
			padding: 0 1em;
		}
	}
}

