// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

.half {
	@media screen and (min-width: 60em){
		@include span(6);

		&:nth-child(even) {
			@include span(last 6);
		}
	}
}

* .third {
	@media screen and (min-width: 60em){
		@include span(4);

		&:nth-of-type(3n + 3) {
			@include span(last 4);
		}
		&:nth-of-type(3n + 4) {
			clear: left;
		}
	}
}

.quarter {
	@media screen and (min-width: 60em){
		@include span(3);

		&:last-child {
			@include span(last 3);
		}
	}
}

.blue-title {
	color: $blue;
	font-weight: normal;
}

.centered, .center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.light-grey {
	background: $light-grey;
}

.light-turquoise {
	background: lighten( $turquoise, 35% );
}

.container {
	@include container;
}

.give-padding {
	@include give-padding;
}

.home.page {

	.home-hero-image {
		display: block;
		margin: 0 auto;
		margin-bottom: 1em;
		max-height: 300px;
	}

	.hentry {
		margin-bottom: 0;
	}

	.entry-header {

		
		.third {
			text-align: center;
			width: 100%;
			float: none;
			margin: 0;
			
			@media screen and ( min-width: 65em ){

				@include span(4);

				&:last-child {
					@include span(last 4);
				}

				&:first-child {
					// text-align: left;
				}

				&:last-child {
					@include span(last 4);
					// text-align: right;
				}
			}

		} // .third

		a {
			font-size: 1.5em;
			color: $white;
			font-weight: 300;
			display: block;
			margin: 1em;
			border: 1px solid $white;

			&:hover {
				background: $white;
				color: $blue;
			}

			@media screen and ( min-width: 65em ){
				font-size: 2em;
				border: none;
				margin: 0;
				padding: 0.5em 0;

				&:hover {
					background: transparent;
					color: $gold;
				}
			}
		}

	}

	.upcoming-events {
		
		.upcoming-event {
			margin-bottom: 1em;
			a {
				display: block;
				padding: 1em 1em;
				min-height: 13em;

				&:hover {
					border-color: transparent;
				}
			}

			.fa {
				margin-right: .5em;
			}

			.button {
				margin-top: 1em;
			}
		}
	}

	.bottom-cta {
		padding-top: 4em;

		.third {
			margin-bottom: 4em;
		}

		.fa {
			font-size: 4em;
		}

		.cta-title {
			font-size: 1.5em;
			margin: 0;
		}

		.button {
			display: inline-block;
		}
	}
}

.recent-posts {
	margin-top: 4em;
	margin-bottom: 4em; 

	.recent-post {
		border: 2px solid $light-grey;
		margin-bottom: 2em;
	}

	.padding {
		padding: 1em .5em 0;
	}
	
	.post-title {
		font-size: 3em;
		margin: 0 0 .5em;
		color: $blue;
		font-weight: 300;
		line-height: 1.1;
	}

	.featured-image {
		height: 6em;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;

		time {
			color: $white;
			position: absolute;
			width: 3em;
			height: 3.5em;
			padding-top: .4em;
			font-weight: normal;
			background: $gold;
			text-align: center;
			text-transform: uppercase;
			bottom: -1em;
			left: 50%;
			transform: translateX(-50%);
			box-shadow: 0 0 10px -3px $dark-grey;
			line-height: 1;

			span {
				font-size: 2em;
			}
		}
	}
}

.entry-header {
	background: $blue;
	overflow: hidden;

	.entry-title {
		@include container();
		@include give-padding;
		color: $white;
		font-weight: 400;
		padding-top: .5em;
		padding-bottom: .5em;
		margin-top: 0;
		margin-bottom: 0;

		a {
			color: $white;
		}
	}

	.entry-meta {
		@include container();
		@include give-padding;

		.single & {
			color: $white;
			margin-bottom: 1em;

			a {
				color: $white;
			}
		}
	}
}

.content-area, .wp-editor {
	h2 {
		color: $blue;
		font-weight: 400;
	}

	ul {
		list-style: none;

		li {
			display: block;
			&:before {
				content: '\f138';
				font-family: 'FontAwesome';
				color: $turquoise;
				margin-right: .5em;
			}
		}
	}

	.video-container { 
		position: relative; 
		padding-bottom: 56.25%; 
		height: 0; 
		overflow: hidden; 

		iframe, object, embed, video { 
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%; 
			height: 100%; 
		}

	}
	
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ul li, 
body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ul li {
	display: block;
	&:before {
		content: '\f138';
		font-family: 'FontAwesome';
		color: $turquoise;
		margin-right: .5em;
	}
}


.entry-content, .wp-editor {
	@include container();
	
	@include give-padding;
}

body.wp-editor {
	padding-left: .5em !important;
	padding-right: .5em !important;
}

.entry-footer {
	@include container;

	@include give-padding;

	> span {
		margin-right: 1em;
	}
}

.post-navigation {
	text-align: center;
}

.comments-area {
	@include container;

	@include give-padding;
}

.related-pages {
	text-align: center;
	margin: 2em .5em;

	&:empty {
		display: none;
	}

	.button {
		padding: .5em 1em;
		border: 1px solid $blue;
		margin: .5em 1em;
		transition: all 200ms ease;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $blue;

		&:hover, &.current, &:active, &:focus {
			background: $blue;
			color: $white;
		}
	}
}

.nav-links {
	text-align: center;
	padding: 1em;
	display: flex;
	justify-content: center;

	.nav-previous, .nav-next {
		display: inline-block;
		margin: 0 1em;
		order: 0;
		//text-transform: uppercase;

		a {
			padding-bottom: .25em;
		}
	}

	.nav-next {
		// NEWER POSTS
		
		&:before {
			content: '\f104';
			font-family: "FontAwesome";
			margin-right: .5em;
			color: $blue;
		}
	}

	.nav-previous {
		// OLDER POSTS
		order: 1;
		&:after {
			content: '\f105';
			font-family: "FontAwesome";
			margin-left: .5em;
			color: $blue;
		}
	}
}


.page-template-template-contact {

	h3 {
		color: $blue;
	}

	.pw_map_canvas {
		// border: 3px solid $blue;
		height: 300px !important;
	}

}

.page-template-template-jobs-internships {

	.posting {
		background: $light-grey;
		padding: 0 1em;
		margin-bottom: 1.5em;
	}

	.half h2 {
		text-align: center;
		text-transform: uppercase;
	}
}

.single {

	.entry-content {
		margin-top: 1.5em;
	}
}

.page {

	.related-pages:empty ~ .entry-content {
	  margin-top: 1.5em
	}

}

.blog, .post-type-archive-tiak_newsletters {

	#main {
		@include container;
	}

	.hentry {
		max-width: 60em;
		width: 90%;
		margin: 2em auto;
		border: 1px solid $grey;
		padding: 0 1em 1em;

		.entry-header {
			background: none;
		}

		.entry-title a {
			color: $blue;

			&:hover {
				color: $light-blue;
			}
		}

		.entry-content {
			margin: 0;
		}
	}
}

.post-type-archive-tiak_newsletters {
	
	.entry-title {
		color: $blue;
		text-align: center;
	}
}

.testimonials {
	text-align: center;
	margin-bottom: 4em;
	margin-top: 4em;

	.testimonial {
		max-width: 30em;
		margin: 0 auto;
		position: relative;

		+ .testimonial {
			margin-top: 5em;
		}

		&:before {
			position: absolute;
			top: 0;
			left: -1em;
			content: '\f10d';
			font-family: 'FontAwesome';
			color: rgba( $turquoise, .5 );
			font-size: 3em;
			line-height: 1;
			z-index: -10;
		}

		&:after {
			position: absolute;
			bottom: 1em;
			right: -1em;
			content: '\f10e';
			font-family: 'FontAwesome';
			color: rgba( $turquoise, .5 );
			font-size: 3em;
			line-height: 1;
			z-index: -10;
			@media screen and (max-width: 600px){
				display: none;
			}
		}
	}

	.testimonials-title {
		color: $blue;
		font-weight: 400;
		max-width: 32em;
		margin: 0 auto;
		border-bottom: 1px solid $light-grey;
		text-align: center;
		padding-bottom: 1em;
		margin-bottom: 1em;
	}

	.button {
		display: inline-block;
		margin-top: 1em;
	}

	.testimonial-meta {
		color: $blue;
	}
}

.current-newsletter {
	background: $light-grey;
	max-width: 60em;
	margin: 2em auto 0;
	padding: 4em;
	text-align: center;

	@media screen and (min-width: 60em){
		margin: 2em auto;
	}

	.title {
		font-size: 3em;
		margin: 0 auto;
		color: $blue;
		font-weight: normal;
	}

	.button {
		display: inline-block;
	}
}

.posted-on {

	&:before {
		margin-right: .5em;
		content: '\f017';
		font-family: 'FontAwesome';
	}
}

.post-password-form {
	input[type="submit"]{
		display: block;
		margin: 1em;
	}
}

.executives {

	.third {
		margin-bottom: 2em;
		text-align: center;

		p {
			margin: 0 0 1em;
		}
	}

	.title {
		font-weight: normal;
		color: $blue;
		margin: 0;
	}
}


.meeting-schedule {

	.title {
		font-size: 1.5em;
		font-weight: normal;
		color: $blue;
	}

	.button {
		font-size: 1.25em;
		display: inline-block;
	}
}

.all-directors {
	margin-bottom: 4em;

	.button {
		font-size: 1.25em;
		display: inline-block;
	}
}

.page-template-template-committees {

	.blue-title {
		font-size: 2em;
		margin: 0;
		margin-bottom: 1em;

		&.members-title {
			font-size: 1.25em;
		}

		.border {
			display: inline-block;
			border-bottom: 2px solid $light-grey;
		}
	}
}

.committees {

	.committee{
		margin-bottom: 4em;	
	}

	.committee-title {
		font-size: 1.5em;
		margin: 0;
	}

	.email {
		display: inline-block;
		margin-left: 1em;
	}
}

.accordion {

	> h3 {
		background: $turquoise;
		color: $white;
		padding: .25em .5em;
		font-weight: 300;
		text-transform: uppercase;
		margin: 0;
		outline: none;
		margin-bottom: 1em;
		position: relative;
		cursor: pointer;
		transition: all 100ms linear;

		&:after {
			content: '\f0d7';
			font-family: 'FontAwesome';
			position: absolute;
			right: .5em;
			top: 50%;
			transform: translateY(-50%);
			transition: all 100ms linear;
		}

		&[aria-expanded="true"] {
			margin-bottom: 0;
			background: $gold;
			color: $dark-grey;

			&:after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}

	> div {
		border: 2px solid $gold;
		margin-bottom: 1em;
		padding: 0 .5em;
	}
}

.important-links {
	
	h2 {
		font-weight: 400;
		color: $blue;
	}

	.title, .link {
		width: 49%;
		display: block;
		float: left;
		margin-bottom: 1em;

		@media screen and (min-width: 40em){
			margin-bottom: 0;
		}
	}
	.title {
		text-align: right;
		margin-right: 1%;
		clear: left;
	}
	.link {
		text-align: left;
		margin-left: 1%;
		clear: right;
		
		a {
			word-break: break-word;
		}
	}

}

.resource-links {
	font-size: 0;
	text-align: center;

	.resource-link {
		display: block;
		font-size: initial;
		padding: 1em;
		margin-bottom: 2em;

		@media screen and (min-width: 60em){
			width: 33%;
			margin-bottom: 0;
			display: inline-block;
		}

		.fa {
			font-size: 3em;
		}

		.button {
			display: inline-block;
		}
	}
}

.kds {

	.half {

		> h3 {
			font-size: 1.5em;
			color: $blue;
			font-weight: 400;
		}
	}
	
	.email {
		font-size: 2.5em;
		margin-top: 1.5em;
		margin-bottom: 1.5em;

		a {
			word-break: break-word;
		}

		a:before {
			display: none;
		}
	}
}

.white-papers-reports {
	margin-bottom: -1.5em;

	.white-papers, .reports, .tgt-documents {
		margin-bottom: 1.5em;

		h2 {
			font-size: 2em;
		}
	}

	.white-paper, .report {
		min-width: 22em;
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}

	.reports {
		padding-bottom: 1.5em;
	}
}

.bill-trackers {

	.bill-tracker a {
		display: block;
		padding: .5em 1em;
		margin: 1em auto;
		max-width: 12em;
		text-align: center;
		border: 2px solid $light-grey;
		font-size: 1.25em;

		&:hover {
			border: 2px solid;
		}
	}
}



#search-members {
	width: 95%;
	max-width: 60em;
	font-size: 1.25em;
}

.members {

	.members-list {
		list-style: none;
		padding: 0;
		margin: 0;

		&.filtering .member {
			float: none;
			width: 100%;
			margin: 0 auto 2em;
			max-width: 40em;
			background: $light-grey;
			padding: 1em;
			
		}
	}
	.member {
		margin-bottom: 2em;
		// float: left;
		// width: calc(100%/3);
		// margin: 0;
		// padding: 1em;

		.member-organization, .member-name, .member-contact {
			margin: 0;
		}

		.member-address {
			margin: .5em 0;
		}


		&:before {
			content: none;
		}
	}
}

.type-tiak_events {
	margin-bottom: 0;
}

.event {
	max-width: 60em;
	background: $light-grey;
	margin: 0 auto;
	padding: 1em;

	@media screen and (min-width: 60em){
		margin: 2em auto;
	}

	.time {
		background: darken($light-grey, 5%);
		padding: 1em;
		margin: 0;
	}

	.cost {
		background: darken($light-grey, 5%);
		h4 {
			font-size: 1.25em;
			margin: 0.75em 0 0;
		}
	}
	
	.button {
		display: inline-block;
	}

	.registration-link {
		margin-top: 2em;
	}
}

.page-template-template-events, .page-template-template-webinars, .page-template-template-seminars {

	.hentry {
		margin-bottom: 0;
	}

	.events {

		.ks-tourism-conference {
			padding: 1em 0 3em;

			h2 {
				text-transform: uppercase;
				margin: 1em 0 .5em;
				font-size: 2.5em;
			}

			.description {
				max-width: 40em;
				margin: 1em auto 2em;
			}

			.button {
				display: inline-block;
				margin-left: 2em;
				margin-right: 2em;
			}
		}

		.upcoming-events {
			//background: lighten($turquoise, 30%);
			padding: 1em 0 2em;

			h2 {
				font-size: 2em;
				text-transform: uppercase;
				margin-bottom: 2em;
			}

			.upcoming-event {
				margin-bottom: 2em;

				.inner {
					display: block;
					padding: 2em 1em 1.5em;
					max-width: 30em;
					margin: 0 auto;
					border: 2px solid $dark-grey;
					color: $dark-grey;
					transition: all 100ms ease;

					&:hover {
						background: $blue;
						color: $white;

						.button {
							background-color: $white;
						}
					}

					.button {
						transition: all 100ms ease;
						color: $dark-grey;
						border-color: $dark-grey;
						display: inline-block;
						margin: 1em 0 0;
					}
				}

				h4 {
					margin: 0 0 .5em;
				}

				.fa {
					margin-right: 1em;
				}
			}
		}

		.day-on-hill {
			// background: lighten($turquoise, 30%);

			h2 {
				font-size: 2em;
				text-transform: uppercase;
				margin: 2em auto 0;
			}

			.description {
				max-width: 40em;
				margin: 1em auto 2em;
			}

			.button {
				display: inline-block;
				margin-left: 2em;
				margin-right: 2em;
			}
		}
	}

}


.page-template-template-day-on-the-hill .hentry {
	margin-bottom: 0;
}

.day-on-the-hill {

	.date {
		//background: lighten($turquoise, 30%);
		font-size: 2em;
		padding: 1em;
		margin-bottom: 1em;
		
		.day {
			font-size: 1.5em;
		}
	}

	.agenda {
		padding: 1em 2em;
		// background: rgba( $blue, .15);
		margin-bottom: 2em;

		ul {
			margin: 0;
			padding: 0;

			li {
				border-bottom: 1px solid darken($light-grey, 5%);
				padding: .5em 0;

				&:before {
					content: none;
				}
			}
		}
	}

	.hotel {
		padding: 1em 2em;
	}

	.maps {
		padding: 2em 0 4em;

		.button {
			display: inline-block;
		}
	}

	.video {
		margin: 4em auto;
	}

	.sponsorship-levels {
		// background: rgba( $gold, .5);
		padding: 2em 0 4em;
		
		ul li {
			margin-bottom: 1em;
		}

		> .container {
			@media screen and (min-width: 60em){
				display: flex;
				align-items: center;
			}	
		}

		.sponsorship-description {
			margin-bottom: 4em;

			ul {
				margin: 0;
				padding: 0;
			}
		}
		
	}

	.call-to-action {
		position: relative;
		margin-top: 6em;

		@media screen and (min-width: 60em){
			margin-top: 0;
		}

		.button {
			display: inline-block;
			font-size: 1.5em;
		}
	}
}

.page-template-template-conference .hentry {
	margin-bottom: 0;
}

.ks-tourism-conference {

	.panel {
		padding: 1em;
		margin-bottom: 2em;

		.button {
			display: inline-block;
		}
	}
	
	.hotel {
		padding: 1em;
		margin-bottom: 2em;

		p {
			margin: 0 auto 1.5em;
		}

		.pw_map_canvas {
			margin-bottom: 3em;
		}
	}

	.register {
		padding: 2em 0;

		p {
			margin: 0;
		}

		.button {
			display: inline-block;
			vertical-align: middle;
			font-size: 2em;
		}
	}

	.dates {
		padding: 1em;
		margin-bottom: 2em;
	}

	.agenda {
		padding: 1em;
		margin-bottom: 2em;

		.heading {
			font-size: 1.25em;
		}

		ul {
			margin: 0 0 3em;
			padding: 0;

			li {
				border-bottom: 1px solid darken($light-grey, 5%);
				padding: .5em 0;

				&:before {
					content: none;
				}
			}
		}
	}

	.silent-auction {
		padding: 1em;
		margin-bottom: 2em;
	}

}

.single-tiak_newsletters {

	.newsletter {
		padding: 4em 2em;
	}

	.hentry {
		margin-bottom: 0;
	}
}

.post-type-archive-tiak_newsletters {


}



/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer";