a {
	color: $blue;
	text-decoration: none;
	transition: color 200ms ease, border 200ms linear;
	border-bottom: 1px solid transparent;

	&:hover,
	&:focus,
	&:active {
		color: $light-blue;
		border-bottom: 1px solid $light-blue;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
	
}

a[href$=".pdf"]{
	&:before {
		margin-right: 0.5em;
		content:' \f1c1';
		font-family: 'FontAwesome';
	}
}

a[href$=".doc"], a[href$=".docx"]{
	&:before {
		margin-right: 0.5em;
		content:' \f1c2';
		font-family: 'FontAwesome';
	}
}
a[href$=".txt"]{
	&:before {
		margin-right: 0.5em;
		content:' \f0f6';
		font-family: 'FontAwesome';
	}
}

a[href$=".zip"]{
	&:before {
		margin-right: 0.5em;
		content:' \f1c6';
		font-family: 'FontAwesome';
	}
}

a[href^="mailto"]{
	&:before {
		margin-right: 0.5em;
		content:' \f003';
		font-family: 'FontAwesome';
	}
}

a[href^="tel"]{
	&:before {
		margin-right: 0.5em;
		content:' \f095';
		font-family: 'FontAwesome';
		vertical-align: middle;
	}
}